#header {
    background-color: black;
}

#header img {
    width: 50%;
    display: block;
    margin: auto;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans";
	font-weight: lighter;
}

h1 {font-size: 400%;}
